{% extends 'test_app/base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href='{% static "CSS/styleEditProfile.css" %}'>
    <script src="https://kit.fontawesome.com/d86547990e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="container-fluid text-center" style="padding: 10px;  background-color: #0A4D77;">
        <div class="row align-items-center" style="padding-left: 10px; padding-right: 10px;">
          <div class="col-2 image_locate">
            <img src='{% static "/Images/Logo_DreamsBank.png" %}' alt="Logo de DreamsBank" style="width: 100px;">
          </div>
          <div class="col-8 items_search_locate" style="display: flex; justify-content: center;">
            <form class="form-inline">
              <div class="input-group" style="flex-shrink: 0;">
                <input id="input_search" type="text" class="form-control" placeholder="Buscar en KnowledgeFactoty" style="width: 700px;">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button" style="background-color: #F9B100; border: 0; border-radius: 0px ; border-top-right-radius: 5px; border-bottom-right-radius: 5px; width: 100%; height: 100%;">
                    <i class="bi bi-search" style="font-size: 1.5em;"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-2" style="display: flex; justify-content: end;">
            <button class="btn btn-link">
              <i class="bi bi-cart-fill" style="color: #fff; font-size: 1.8em;"></i>
            </button>
          </div>
        </div>
      </header>
      <header class="row-fluid text-center" style="padding: 10px; padding-left: 15px; padding-right: 15px; background-color: #093D5E;">
        <div class="menu-bar">
            <div class="icon_menu_bar">
              <button class="btn btn-link" style="padding: 0;">
                <i id="sideMenu" class="bi bi-list" style="color: #fff; font-size: 1.8em;z-index: 1;"></i>
              </button>
            </div>
            <a href="{% url 'homePage' %}" class="menu-item">Proyectos</a>
            <a href="#" class="menu-item">Servicio al cliente</a>
            <a href="{% url 'profile' %}" class="menu-item">Perfil</a>
          </div>
      </header>
      <div class="cont_menu active" id="menu">
        <div class="row" style="background-color: #093D5E;width: 412px;">
            <div class="col-3 profile_col">
                <i class="bi bi-person-circle" style="font-size: 3.5em;color: #F8F8F8;"></i>
            </div>
            <div class="col-9 profile_name_col">
                <!--Debe aparecer el nombre-->
                <h3 class="profile_name">Nombre</h3>
            </div>
        </div>
        <ul>
            <h4 class="title_side_menu">Buscar proyecto por categorías</h4>
            <a>Automóviles</a>
            <a>Hogar</a>
            <a>Dispositivos electrónicos</a>
            <a>Cuidado personal</a>
            <a>Ciencia</a>
            <a>Entretenimiento y multimedia</a>
            <a>Mostrar más</a>
            <hr style="margin: 0px;">
            <h4 class="title_side_menu">Cuenta</h4>
            <a href="{% url 'profile' %}">Perfil</a>
            <a href="{% url "profileMeeting" %}">Mis cotizaciones</a>
            <a href="{% url "profileFavorites" %}">Favoritos</a>
            <hr style="margin: 0px;">
            <h4 class="title_side_menu">Ayuda y configuración</h4>
            <a>Servicio al cliente</a>
            <a style="color: red;font-weight: bold;">Cerrar sesión</a>
        </ul>
    </div>
    <div class="PrimaryBox" id="Box"> 
      <div class="container-fluid" style="padding: 10px; padding-top: 20px; padding-bottom: 20px">
        <div class="row" style="padding-left: 15px; padding-right: 15px; padding-bottom: 25px;">
          <div class="col-3" style="margin: 0px; justify-content: space-between;">
            <div class="row" style="margin: 0px; margin-bottom: 10px;">
              <div class="col-3" style="display: flex ;align-items: center; justify-content:center ;">
                <i class="bi bi-person-circle" style="color: #8a8484; font-size: 3.5em;"></i>
              </div>
              <div class="col-9" style="display: flex; align-items: center,start; justify-content: left ;flex-direction: column; padding-top: 10px;">
                <div class="row" style="flex: 1; align-items: end;">
                  <h5 style="font-family: 'Roboto Flex', 'Arial', 'sans-serif'; font-weight: bold; font-size: 22px;">{{user.fullname}}</h5>
                </div>
                <div class="row" style="flex: 1;align-items: start; display: flex;">
                  <div class="col-8" style="align-items: start">
                    <!--Poner que se pueda devolver a la ventana desde la que se dió a editar perfil-->
                    <a href="{% url "profile" %}" target="_self" class="btn btn-link" style="font-family: 'Roboto Flex', 'Arial', 'sans-serif'; font-weight: bold; color: #ffcd00; text-decoration: none; font-size: 16.5px; width: fit-content; padding: 0px;">Editar perfil</a>
                    <a href="{% url "profile" %}" target="_self" class="bi bi-pencil-fill" style="color: #ffcd00;"></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="row" style="margin: 0px; margin-bottom: 10px;">
              <div class="col-3"  style="display: flex ;align-items: center; justify-content:center ;">
                <a href="{% url "profile" %}" target="_self" class="bi bi-person-fill" style="color: #F9B100; font-size: 3.0em;"></a>
              </div>
              <div class="col" style="align-items: center; display: flex;">
                <a href="{% url "profile" %}" target="_self" style="color: #0A4D77; font-size: 23px; text-decoration: none; font-weight: bold;">Perfil</a>
              </div>
            </div>
            <div class="row" style="margin: 0px; margin-bottom: 10px;">
              <div class="col-3"  style="display: flex ;align-items: center; justify-content:center ;">
                <a href="{% url "profileMeeting" %}" target="_self" class="bi bi-clipboard2-check-fill" style="color: #F9B100; font-size: 2.7em;"></a>
              </div>
              <div class="col" style="align-items: center; display: flex;">
                <a href="{% url "profileMeeting" %}" target="_self" style="color: #1b1b1c; font-size: 23px; text-decoration: none; font-weight: bold;">Mis proyectos</a>
              </div>
            </div>
            <div class="row" style="margin: 0px; margin-bottom: 10px;">
              <div class="col-3"  style="display: flex ;align-items: center; justify-content:center ;">
                <a href="{% url "profileFavorites" %}" target="_self" class="bi bi-star-fill" style="color: #F9B100; font-size: 2.7em;"></a>
              </div>
              <div class="col" style="align-items: center; display: flex;">
                <a href="{% url "profileFavorites" %}" target="_self" style="color: #1b1b1c; font-size: 23px; text-decoration: none; font-weight: bold;">Favoritos</a>
              </div>
            </div>
          </div>
          <div class="col-9">
            <form method="POST">
              <div class="card" style="width: 100%; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);">
                <div class="card-body">
                  <h5 class="card-title">Información del usuario</h5>
                  <hr>
                  
                    {% csrf_token %}

                    <!--{{formU.as_p}}-->
                    {{ formU.non_field_errors }}
                    <div class="fieldWrapper">
                      <div class="row" style="margin-bottom: 15px;">
                        {{ formU.fullname.errors }}
                        <div class="col-2" style="display: flex;justify-content: right;align-items:center">
                          <p for="{{ formU.fullname.id_for_label}}" class="card-text">Nombre:</p>
                        </div>
                        <div class="col-7">
                          {{ formU.fullname }}
                        </div>
                      </div>
                    </div>
                    <div class="fieldWrapper">
                      <div class="row" style="margin-bottom: 15px;">
                        {{ formU.email.errors }}
                        <div class="col-2" style="display: flex;justify-content: right;align-items:center">
                          <p for="{{ formU.email.id_for_label}}" class="card-text">Correo:</p>
                        </div>
                        <div class="col-7">
                          {{ formU.email }}
                        </div>
                      </div>
                    </div>
                    <div class="fieldWrapper">
                      <div class="row" style="margin-bottom: 20px;">
                        {{ formU.phoneNumberU.errors }}
                        <div class="col-2" style="display: flex;justify-content: right;align-items:center">
                          <p for="{{ formU.phoneNumberU.id_for_label}}" class="card-text">Teléfono:</p>
                        </div>
                        <div class="col-7">
                          {{ formU.phoneNumberU }}
                        </div>
                      </div>
                    </div>

                  {% if company %}
                  <h5 class="card-title">Información de la empresa</h5>
                  <hr>
                  <div class="row" style="margin-bottom: 15px;">
                      <div class="col-3" style="display: flex;justify-content: right;align-items:center">
                          <p class="card-text">Nombre de la empresa:</p>
                      </div>
                      <div class="col-7" style="display: flex;justify-content: left;align-items:center">
                          <p class="card-text" style="font-size: 17px;"> {{company.name}}</p>
                      </div>
                  </div>
                  <div class="row" style="margin-bottom: 15px;">
                      <div class="col-3" style="display: flex;justify-content: right;align-items:center">
                          <p class="card-text">NIT de la empresa:</p>
                      </div>
                      <div class="col-7" style="display: flex;justify-content: left;align-items:center">
                          <p class="card-text" style="font-size: 17px;">{{company.nit}}</p>
                      </div>
                  </div>
                  <!--{{formC.as_p}}-->
                  <div class="fieldWrapper">
                    <div class="row" style="margin-bottom: 15px;">
                      {{ formC.address.errors }}
                      <div class="col-3" style="display: flex;justify-content: right;align-items:center">
                        <p for="{{ formU.address.id_for_label}}" class="card-text">Dirección de la empresa:</p>
                      </div>
                      <div class="col-7">
                        {{ formC.address }}
                      </div>
                    </div>
                  </div>
                  <div class="fieldWrapper">
                    <div class="row" style="margin-bottom: 20px;">
                      {{ formC.phoneNumberC.errors }}
                      <div class="col-3" style="display: flex;justify-content: right;align-items:center">
                        <p for="{{ formC.phoneNumberC.id_for_label}}" class="card-text">Teléfono:</p>
                      </div>
                      <div class="col-7">
                        {{ formC.phoneNumberC }}
                      </div>
                    </div>
                  </div>
                  {% endif %}
                  <div class="row" style="display: flex; align-items: center; justify-content: right">
                    <div class="col-2">
                      <a href="{% url "profile" %}" target="_self" class="btn-btn primary btn-saveEdit" type="button">Guardar</a>
                    </div>
              </div>
            </form>
          </div>
    <script src='{% static "JS/SideMenu.js" %}'></script>
</body>
</html>
{% endblock %}

