{% extends 'test_app/base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" href='{% static "CSS/styleOutstandingProjects.css" %}'>
    <script src="https://kit.fontawesome.com/d86547990e.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="container-fluid text-center" style="padding: 10px;  background-color: #0A4D77;">
        <div class="row align-items-center" style="padding-left: 10px; padding-right: 10px;">
          <div class="col-2 image_locate">
            <img src='{% static "/Images/Logo_DreamsBank.png" %}' alt="Logo de DreamsBank" style="width: 100px;">
          </div>
          <div class="col-8 items_search_locate" style="display: flex; justify-content: center;">
            <form class="form-inline">
              <div class="input-group" style="flex-shrink: 0;">
                <input id="input_search" type="text" class="form-control" placeholder="Buscar en KnowledgeFactoty" style="width: 700px;">
                <div class="input-group-append">
                  <button class="btn btn-secondary" type="button" style="background-color: #F9B100; border: 0; border-radius: 0px ; border-top-right-radius: 5px; border-bottom-right-radius: 5px; width: 100%; height: 100%;">
                    <i class="bi bi-search" style="font-size: 1.5em;"></i>
                  </button>
                </div>
              </div>
            </form>
          </div>
          <div class="col-2" style="display: flex; justify-content: end;">
            <button class="btn btn-link">
              <i class="bi bi-cart-fill" style="color: #fff; font-size: 1.8em;"></i>
            </button>
          </div>
        </div>
      </header>
      <header class="row-fluid text-center" style="padding: 10px; padding-left: 15px; padding-right: 15px; background-color: #093D5E;">
        <div class="menu-bar">
            <div class="icon_menu_bar">
              <button class="btn btn-link" style="padding: 0;">
                <i id="icon_menu" class="bi bi-list" style="color: #fff; font-size: 1.8em;"></i>
              </button>
            </div>
            <a href="#" class="menu-item">Menu</a>
            <a href="{% url 'homePage' %}" class="menu-item">Proyectos</a>
            <a href="{% url 'OutstandingProjects' %}" class="menu-item">Destacados</a>
            <a href="#" class="menu-item">Servicio al cliente</a>
            <a href="{% url 'profile' %}" class="menu-item">Perfil</a>
      </header>
      <div class="PrimaryBox">
        <h1 class="Title">Proyectos Destacados</h1>
        <div class="gridProducts">
        {% for project in projects %}
            <div class="card" id={{project.id}}>
              <a href="{% url 'productInformation' project.id %}" style="z-index:5;position: absolute;width: 93%;height:93%;"></a>
                <div class="card_image" style="height: 260px;">
                    {% if project.photo %}
                    <img src="{{project.photo.url}}" alt={{project.id}} style="width: 100%; height: 100%;border-radius: 5px">
                    {% else %}
                    <h3 class="no foto">No hay foto</h3>
                    {% endif %}
                </div>
                <div class="card_content">
                  <h1 class="card_title">{{project.name}}</h1>
                  <h3 class="card_text">{{project.ownerCompany.name}}</h3>
              </div>

            </div>
        {% endfor %}
        </div>
      </div>
    </div>

    <script src='{% static "JS/MainPageEnterprise.js" %}'></script>
</body>
</html>
{% endblock %}

