{% extends 'test_app/base.html' %}

{% load static %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href='{% static "CSS/styleRegister.css" %}'>
    <title>Crea tu cuenta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <script src="https://kit.fontawesome.com/d86547990e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="Primarybox">
        <div>
            <img id="image_dreamsBank" src='{% static "/Images/Logo_DreamsBank.png" %}' alt="Logo de DreamsBank">
        </div>
        <div id="container_registerAcc">
            <h1 class="title_text">Crea tu cuenta</h1>
            <form method="POST">
                {% csrf_token %}
                <label for="" class="text_label_enter">Nombre de la empresa</label><br>
                <input type="name" class="form-control enter_input">

                <label for="" class="text_label_enter">NIT de la empresa</label><br>
                <input type="number" class="form-control enter_input" style="-moz-appearance: textfield; -webkit-appearance: textfield; appearance: textfield;">

                <label for="" class="text_label_enter">Dirección de la empresa</label><br>
                <input type="text" class="form-control enter_input">

                <label for="" class="text_label_enter">Teléfono de la empresa</label><br>
                <input type="number" class="form-control enter_input" style="-moz-appearance: textfield; -webkit-appearance: textfield; appearance: textfield;">

                <label for="" class="text_label_enter">Nombre del representante</label><br>
                <input type="name" class="form-control enter_input">

                <label for="" class="text_label_enter">Tipo de documento</label><br>
                <div class="row-fluid" style="display: flex; justify-content: center;margin-bottom: 10px">
                    <div class="col" style="margin:0px">
                        <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false" style="margin:0px;background-color: #F9B100;color: #fff; border: 0px; font-size: 16px;font-weight: bold; height:40px; width:auto">
                              Tipo de documento
                            </button>
                            <ul class="dropdown-menu">
                              <li><a class="dropdown-item" href="#">CC</a></li>
                              <li><a class="dropdown-item" href="#">TI</a></li>
                              <li><a class="dropdown-item" href="#">RC</a></li>
                              <li><a class="dropdown-item" href="#">CE</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col" style="align-items: center; display: flex;">
                        <input type="name" class="form-control enter_input" style="height:40px">
                    </div>
                </div>

                <label for="" class="text_label_enter">Correo del representante</label><br>
                <input type="email" class="form-control enter_input">

                <label for="" class="text_label_enter">Contraseña del representante</label><br>
                <input type="password" class="form-control enter_input">

                <label for="" class="text_label_enter">Teléfono del representante</label><br>
                <input type="number" class="form-control enter_input" style="-moz-appearance: textfield; -webkit-appearance: textfield; appearance: textfield;">

                <label for="" class="text_label_enter">Fecha de nacimiento</label><br>
                <input type="date" min="2020-01-01" class="form-control date_input" style="border: 1px solid #000;border-radius: 5px;margin-bottom: 30px;background-color: #e6e6e6;padding-left: 10px;font-size: medium;">
            </form>
            <a href="{% url 'login' %}" target="_self" class="btn btn register_button active" type="button" style="background-color: #F9B100; color: #fff">Crear cuenta</a>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
{% endblock %}