<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Crea tu cuenta</title>
        <link rel="stylesheet" href="styleIndex.css">
    </head>
    <body>
        <div class="Primarybox">
                <div class="image_logo_div">
                    <img class="image_dreamsBank" src="images/Logo_DreamsBank.png">
                </div>
                <div class="container_loginAcc">
                    <h1 class="title_text">Crea tu cuenta</h1>
                    <p class="email_enter">Dirección de correo electrónico</p>
                    <input type="text" class="email_enter_input" name="name">
                    <p class="password_enter">Contraseña</p>
                    <input type="text" class="password_enter_input" name="name">
                    <input type="button" class="login_button" value="Iniciar Sesión">
                    <p class="forgot_password">¿Olvidaste tu contraseña?</p>
                    <hr class="line1">
                    <input type="button" class="create_acc_button" value="Crea tu cuenta">
                </div>
        </div>
    </body>
</html>