@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

.sidebar {
    position: fixed;
    left: -250px;
    width: 250px;
    height: 100%;
    background: #042331;
    transition: all .5s ease;
  }
  .sidebar header {
    font-size: 22px;
    color: white;
    line-height: 70px;
    text-align: center;
    background: #063146;
    user-select: none;
  }
  .sidebar ul a{
    display: block;
    height: 100%;
    width: 100%;
    line-height: 65px;
    font-size: 20px;
    color: white;
    padding-left: 40px;
    box-sizing: border-box;
    border-bottom: 1px solid black;
    border-top: 1px solid rgba(255,255,255,.1);
    transition: .4s;
  }
  ul li:hover a{
    padding-left: 50px;
  }
  .sidebar ul a i{
    margin-right: 16px;
  }
  #check{
    display: none;
  }
  label #btn,label #cancel{
    position: absolute;
    background: #042331;
    border-radius: 3px;
    cursor: pointer;
  }
  label #btn{
    left: 40px;
    top: 25px;
    font-size: 35px;
    color: white;
    padding: 6px 12px;
    transition: all .5s;
  }
  label #cancel{
    z-index: 1111;
    left: -195px;
    top: 17px;
    font-size: 30px;
    color: #0a5275;
    padding: 4px 9px;
    transition: all .5s ease;
  }
  #check:checked ~ .sidebar{
    left: 0;
  }
  #check:checked ~ label #btn{
    left: 250px;
    opacity: 0;
    pointer-events: none;
  }
  #check:checked ~ label #cancel{
    left: 195px;
  }
  #check:checked ~ section{
    margin-left: 250px;
  }
  section{
    background: url(bg.jpeg) no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    transition: all .5s;
  }

/***/

.icon_menu_bar{
    z-index: 10;
}

.icon_menu_bar img{
    vertical-align: top;
    width: 40px;
    cursor: pointer;
}

.cont_menu{
    background-color: #3b3939;
    box-shadow: 2px 0px 5px 2px #737373;
    width: 400px;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    transition: all .5s ease;
}

.active{
    transform: translate(-600px);
}

.opacity{
    background-color: rgba(0, 0, 0, 0.5);
    transition: all 5s ease;
}

.cont_menu ul{
    padding: 100px 0px 20px 0px;
    list-style: none;
}

.cont_menu ul li{
    color: white;
    display: block;
    font-size: 25px;
    text-decoration: none;
    padding: 10px 50px;
    cursor: pointer;
}

.cont_menu ul li:hover{
    background-color: rgb(228, 228, 228);
    color: rgb(42, 42, 42);
}

/*
Código para el resto
*/

.Primarybox {
    padding: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


    .image_locate{
        text-align: left;
    }

        .items_search_locate{
            text-align: center;
            align-self: center;
        }

            #input_search {
                height: 50px;
                border: 0px;
                border-top-left-radius: 5px;
                border-bottom-left-radius: 5px;
                color: #525151;
                font-weight: bold;
                padding-left: 10px;
                padding-right: 10px;
                font-size: 20px;
                text-align: left;
            }


    .menu-bar{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        overflow: hidden;
        justify-content:left;
        align-items: center;
    }

        header div a{
            display: flex;
            align-self: center;
            justify-content: center;
        }

        .menu-item{
            color: #fff;
            list-style: none;
            margin-right: 15px;
            text-decoration: none;
            font-size: 23px;
            font-weight: bold;
            color: #F8F8F8;
            font-family: "Roboto Flex", "Arial", sans-serif;
        }

            .menu-bar menu-item :hover{
                color: #F8F8F8;
            }

.Title{
    padding-left: 30px;
    padding-top: 20px;
    color: #9f9999;
    font-size: 30px;
    font-weight: bold;
    font-family: "Roboto Flex", "Arial", sans-serif;
}    

.gridProducts{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    padding-top: 10px;
    padding-left: 25px;
    padding-right: 25px;
}
    .gridProducts .card{
        background-color: #fff;
        border-radius: 5px;
        padding: 12px;
        text-align: center;
        box-shadow: 0 0 5px rgba(0,0,0,0.5);
    }
        .gridProducts .card .card_image{
            width: 100%;
            background-size: cover;
            background-repeat: no-repeat;
            background-position: center;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            margin-bottom: 5px;
        }
            .gridProducts .card .card_content{
                padding: 5px;
                text-align: left;
                height: auto;
            }
                .gridProducts .card .card_content .card_title{
                    font-size: 23px;
                    font-weight: bold;
                    color: #093D5E;
                    font-family: "Roboto Flex", "Arial", sans-serif;
                }
                    .gridProducts .card .card_content .card_text{
                        font-size: 18px;
                        color: #6e6969;
                        font-family: "Roboto Flex", "Arial", sans-serif;
                    }   