*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#Primarybox {
    margin-top: 30px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: auto;
}

#image_dreamsBank {
    width: 100%;
    height: 100%;
    background-image: url("../Images/Background.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    z-index: -1;
}

#container_registerAcc{
    width: 500px;
    height: auto;
    margin-top: 30px;
    padding-top: 30px;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    background-color: #f7f7f7;
    align-items: center;
    justify-content: center;
    border: 1.5px solid #000;
    border-radius: 10px;
}

.title_text {
    text-align: center;
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 40px;
    font-family: "Roboto Flex", "Arial", sans-serif;
    font-style: bold;
}

.text_label_enter {
    font-size: 17px;
    font-family: "Roboto Flex", "Arial", sans-serif;
}

.enter_input {
    width: 400px;
    height: 30px;
    border: 1px solid #000;
    border-radius: 5px;
    margin-bottom: 30px;
    background-color: #e6e6e6;
    padding-left: 10px;
    font-size: medium;
}


.btn_dropdown{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    font-size: 20px;
    font-family: "Roboto Flex", "Arial", sans-serif;
    font-weight: bold;
    margin-bottom: 20px;
    border: 0px;
}

#register_button {
    width: 100%;
    height: 40px;
    margin-top: 5px;
    border-radius: 5px;
    font-size: 18px;
    font-family: "Roboto Flex", "Arial", sans-serif;
    margin-bottom: 20px;
    background-color: #F9B100; 
    color: #fff; 
    border: 0px;
    box-shadow: 0px 3px 4px rgba(123, 123, 123, 0.8);
}
