<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Crea tu cuenta</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-aFq/bzH65dt+w6FI2ooMVUpc+21e0SRygnTpmBvdBgSdnuTN7QbdgL+OapgHtvPp" crossorigin="anonymous">
    <link rel="stylesheet" href="..\\CSS\\styleRegister.css">
    <script src="https://kit.fontawesome.com/d86547990e.js" crossorigin="anonymous"></script>
</head>
<body>
    <div id="Primarybox">
        <div>
            <img id="image_dreamsBank" src="..\\Images\\Logo_DreamsBank.png" alt="Logo de DreamsBank">
        </div>
        <div id="container_registerAcc">
            <h1 class="title_text">Crea tu cuenta</h1>
            <form action="">
                <label for="" class="text_label_enter">Nombre de la empresa</label><br>
                <input type="name" class="form-control enter_input">

                <label for="" class="text_label_enter">NIT de la empresa</label><br>
                <input type="number" class="form-control enter_input" style="-moz-appearance: textfield; -webkit-appearance: textfield; appearance: textfield;">

                <label for="" class="text_label_enter">Dirección de correo de la empresa</label><br>
                <input type="email" class="form-control enter_input">

                <label for="" class="text_label_enter">Teléfono de la empresa</label><br>
                <input type="number" class="form-control enter_input" style="-moz-appearance: textfield; -webkit-appearance: textfield; appearance: textfield;">

                <label for="" class="text_label_enter">Nombre del representante</label><br>
                <input type="name" class="form-control enter_input">

                <label for="" class="text_label_enter">Correo del representante</label><br>
                <input type="email" class="form-control enter_input">

                <label for="" class="text_label_enter">Contraseña del representante</label><br>
                <input type="password" class="form-control enter_input">

                <label for="" class="text_label_enter">Teléfono del representante</label><br>
                <input type="number" class="form-control enter_input" style="-moz-appearance: textfield; -webkit-appearance: textfield; appearance: textfield;">
            </form>
            <a href="login.html" target="_self" class="btn btn register_button active" type="button" style="background-color: #F9B100; color: #fff">Crear cuenta</a>
        </div>
    </div>
</body>
</html>